{% capture site_tags %}{% for tag in site.tags %}{{ tag | first | downcase }}|{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture -%}
{% assign tag_words = site_tags | split:',' | sort -%}
{% assign tag_max = 0 %}{% for tag_pair in tag_words%}{% assign tag = tag_pair | split:'|' | last %}{% assign tag_max = site.tags[tag] | size | max: tag_max %}{% endfor -%}
<div id="tags-page">
  <div class="tags-list">
    {% for tag_pair in tag_words | sort_natural -%}
    {% assign tag = tag_pair | split:'|' | last -%}
    {% assign tag_size = site.tags[tag] | size | times: 100.0 | divided_by: tag_max | plus: 1 | log: 10 | times: 10.0 | floor | minus: 1 | at_least: 1 -%}
    <a href="/tags/{{ tag | slugify }}" class="tag-link">
      <span class="tag-name tag-cloud-{{ tag_size }}">{{ tag }}</span>
    </a>
    {% endfor -%}
  </div>
</div>